.logo{
    margin: 0 24px;
    img{
        max-width: 170px;
     }
} 



.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    h5{
        color: #160e78;
        font-size: 2rem;
        font-weight: 400;
    letter-spacing: -0.05rem;
    }
    a{
        border: none;
    }
}

.footer-area{
    padding:8rem 0 5rem;
    z-index: 50;
}

.mail-link{
    margin-top: 1rem;
    font-size: 1rem;
    color: #363636;
    font-weight: 600;
}

@media screen and (max-width:991px){
    .footer-area {
        padding: 6rem 0 5rem;
    }
}

@media screen and (max-width:576px){
    .footer-area{
        padding: 6rem 0 5rem;
        text-align: center;
        border-top-left-radius: 0rem;

        
    }
    .footer-logo{

        img{
            margin-bottom: 0.5rem;
            width: 120px;
        }
        h5{
            font-size: 2.5rem;
        }
        text-align: center;
        flex-direction: column-reverse;
    }
}