.logo{
    margin: 0 24px;
    img{
        max-width: 170px;
     }
} 

h5{
    font-size: 32px;
}

.footer-logo{
    justify-content: center;
    align-items: center;
    
}

.footer-area{
    padding:8rem 0 5rem;
}

.mail-link{
    margin-top: 1rem;
    font-size: 1rem;
    color: #363636;
    font-weight: 600;
}