
@media screen and (min-width: 1200px) {
    .masonry-item {
      width: 33.3%;
    }
  }
  @media screen and (max-width: 1200px) {
    .masonry-item {
      width: 33.3%;
    }
  }
  @media screen and (max-width: 768px) {
    .masonry-item {
      width: 50%;
    }
  }
  @media screen and (max-width: 420px) {
    .masonry-item {
      width: 100%;
    }
  }

  .join-btn{
    background: rgb(2, 67, 87) !important; 
    margin: 0 24px;
  }

  
  .join-btn:hover{
    color: #fff  !important; 
    margin: 0 24px;
  }