<!-- banner part start-->
<section class="banner_part">
  <div class="container">
    <div class="row align-content-center">
      <div class="col-lg-7 col-xl-5">
        <div class="banner_text">
          <h1>
            <span>Resilient </span><br />
            Utility Coalition
          </h1>
          <p>
            They are to sea i waters female from lights. Deep had divided to
            which had. For it saw firmament face whales.
          </p>
          <a pageScroll href="#about-sec" class="btn_1  join-btn"
            >learn more <span class="ti-angle-right"></span>
          </a>
          <a  routerLink="/joinus" class="btn_1 mx-4"
          >join us <span class="ti-angle-right"></span>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner part start-->

<!-- about part start-->
<section class="about_part" id="about-sec">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 offset-xl-1 col-xl-6">
        <div class="about_img">
          <img src="assets/img/about.jfif" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="about_text">
          <h4>About us</h4>
          <h2>
            One Sentence <br> About Us
          </h2>
          <p>
            The Resilient Utility Coalition (RUC) was created with the objective of advancing utility infrastructure resilience efforts. 
          </p>
          <p>
            Partners from the utilities, professional associations, industry, and academia are working together to operationalize policy and practices in assessing and adapting utility operations to address the increasing number of challenges faced by utilities worldwide. 
          </p>
          <a routerLink="/about" class="btn_2">know more</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about part start-->
<!-- <section class="title-section">
        <div class="section_tittle text-center">
                <h4>How we got here</h4>
                <h2>2 Brainstroming Sections</h2>
              </div>
            </section> -->

<section class="about_part recreational_part brainstrom">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-5 offset-xl-1 col-xl-4">
              <div class="about_text">
                  
                    <h2>Mission</h2>
                    <h3><span class="ti-control-forward"></span>
                      By operationalizing resilience through interdisciplinary and integrated planning we are improving water quality, public health, the efficient use of resources, and ensuring responsible investments in our utilities.
                    </h3>
                          
                <!-- <a href="#" class="btn_2">read more</a> -->
              </div>
            </div>
            <div class="col-md-7 col-xl-4">
              <div class="about_img">
                <img src="assets/img/brainstrom-1.jfif" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="about_part brainstrom brainstrom-2 mt-n5">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-md-5 offset-xl-1 col-xl-4">
                  <div class="about_img">
                    <img src="assets/img/brainstrom-2.jfif" alt="" />
                  </div>
                </div>
                <div class="col-md-7 col-xl-4">
                        <div class="about_text">
                  
                                <h2>Vision</h2>
                                <h3><span class="ti-control-forward"></span>
                                  We are resilient utilities in a One Water coalition 

                                </h3>
                                     
                            <!-- <a href="#" class="btn_2">read more</a> -->
                          </div>
                </div>
              </div>
            </div>
          </section>
<!-- upcoming_event part start-->

  
   
    <section class="about_part recreational_part">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 offset-xl-0 col-xl-6">
        <div class="about_text">
          <!-- <h4>Recreational Program</h4> -->
          <h2>OWA/RUC Partnership</h2>
          <p>The Resilient Utility Coalition (RUC) and the One Water Academy (OWA) share various commonalitites in their core mission of advancing training, professional development, mentoring, and knowledge sharing within the water, wastewater, and stormwater utility industries. 
          </p>
          <p>
            For the purposes of work being performed in the South Florida region, OWA and RUC  will work jointly and collaboratively on all initiatives so that we maximize the outputs from our volunteers. 						

          </p>
          <a href="#" class="btn_2">read more</a>
        </div>
      </div>
       <div class="col-md-6 col-xl-4">
        <div class="about_img">
          <img src="assets/img/recreational.png" alt="" />
        </div>
      </div> 
    </div>
  </div>
</section>
    <!-- <div class="row">
      <div class="col-md-6 col-xl-6">
        <div class="upcoming_event_1">
          <img src="assets/img/upcoming_event_1.png" alt="#" />
          <div class="upcoming_event_text">
            <div class="date">
              <h3>1<small>st</small> </h3><h5 class="text-white">session</h5>
            </div>
            <div class="time">
              <ul class="list-unstyle">
                <li>
                  Identified challenges facing utilities – defined specific
                  shocks and stresses Defined qualities of a resilient utility
                  Brainstormed goals and solutions
                </li>
                <li>
                  Defined qualities of a resilient utility
                </li>
                <li>
                  Brainstormed goals and solutions
                </li>
              </ul>
            </div>

          
          </div>
        </div>
      </div>
      <div class="col-md-6  col-xl-6">
        <div class="upcoming_event_1">
          <img src="assets/img/upcoming_event_2.png" alt="#" />
          <div class="upcoming_event_text">
            <div class="date">
              <h3>2<small>nd</small></h3> <h5 class="text-white">session</h5>
            </div>
            <div class="time">
              <ul class="list-unstyle">
                <li>Organized solutions by goal areas</li>
                <li>Established Progress Indicators</li>
                <li>
                  Identified Year of Implementation, Lead/Partners, and related
                  Cost/Revenue
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  

<!-- upcoming_event part start-->


    <!-- about part start-->
    <section class="about_part recreational_part mb-n0 blog_part">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md-8 col-xl-8">
                  <h1 class="big-heading">Upcoming Events</h1>
            </div>
            <div class="col-md-4 col-xl-2">
              <div class="about_img" >
                <img src="assets/img/calendar.svg" class="w-50"  >
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                  <div class="card">
                    <img
                      src="assets/img/blog/blog_1.png"
                      class="card-img-top"
                      alt="blog"
                    />
                    <div class="card-body">
                      <span class="dot">12 march, 2019</span>
                      <a href="blog.html"
                        ><h5 class="card-title">
                          Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                        </h5></a
                      >
                      <a href=""></a>
                      <!-- <ul>
                        <li><span class="ti-layers"></span>Sports news</li>
                        <li><span class="ti-comments"></span>2 Comments</li>
                      </ul> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                  <div class="card">
                    <img
                      src="assets/img/blog/blog_2.png"
                      class="card-img-top"
                      alt="blog"
                    />
                    <div class="card-body">
                      <span class="dot">12 march, 2019</span>
                      <a href="blog.html"
                        ><h5 class="card-title">
                          Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                        </h5></a
                      >
                      <a href=""></a>
                      <!-- <ul>
                        <li><span class="ti-layers"></span>129 People </li>
                        <li><span class="ti-comments"></span>2 Comments</li>
                      </ul> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog">
                  <div class="card">
                    <img
                      src="assets/img/blog/blog_3.png"
                      class="card-img-top"
                      alt="blog"
                    />
                    <div class="card-body">
                      <span class="dot">12 march, 2019</span>
                      <a href="blog.html"
                        ><h5 class="card-title">
                          Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                        </h5></a
                      >
                      <a href=""></a>
                      <!-- <ul>
                        <li><span class="ti-layers"></span>Sports news</li>
                        <li><span class="ti-comments"></span>2 Comments</li>
                      </ul> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 col-xl-4">
                <div class="single-home-blog d-none d-sm-block d-lg-none">
                  <div class="card">
                    <img
                      src="assets/img/blog/blog_4.png"
                      class="card-img-top"
                      alt="blog"
                    />
                    <div class="card-body">
                      <span class="dot">12 march, 2019</span>
                      <a href="blog.html"
                        ><h5 class="card-title">
                          Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                        </h5></a
                      >
                      <a href=""></a>
                      <!-- <ul>
                        <li><span class="ti-layers"></span>Sports news</li>
                        <li><span class="ti-comments"></span>2 Comments</li>
                      </ul> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </section>
         
      
      <!--</section>
      <div class="feature-grid mb-5">
              <div class="container">
                      <div class="row align-items-center">
                      
                          <div class="col-xl-6 col-lg-6">
                                  <div class="single-feature">
                                          <div class="single-feature-icon">
                                                  <img src="assets/img/secure-shield.svg" alt="">
                                              </div>
                                              <p>
                                                      Reliable & robust infrastructure
                                              </p>
                                  </div>
                                  <div class="single-feature">
                                          <div class="single-feature-icon">
                                                  <img src="assets/img/renewable-energy.svg" alt="">
                                              </div>
                                              <p>
                                                      Redundant energy sources
      
                                              </p>
                                  </div>
                                  <div class="single-feature">
                                          <div class="single-feature-icon">
                                                  <img src="assets/img/savings.svg" alt="">
                                              </div>
                                              <p>
                                                      Reduced energy costs
      
                                              </p>
                                  </div>
                                  <div class="single-feature">
                                          <div class="single-feature-icon">
                                                  <img src="assets/img/allotropy.svg" alt="">
                                              </div>
                                              <p>
                                                      Reduced carbon footprint
                                              </p>
                                  </div>
                                      
                              </div>  
                              <div class="col-xl-6 col-lg-6">
                                      <div class="single-feature">
                                              <div class="single-feature-icon">
                                                      <img src="assets/img/clipboard.svg" alt="">
                                                  </div>
                                                  <p>
                                                          Regulatory compliance
              
                                                  </p>
                                      </div>
                                      <div class="single-feature">
                                              <div class="single-feature-icon">
                                                      <img src="assets/img/hospital.svg" alt="">
                                                  </div>
                                                  <p>
                                                          Enhances natural systems and <br> public health
              
                                                  </p>
                                      </div>
                                      <div class="single-feature">
                                              <div class="single-feature-icon">
                                                      <img src="assets/img/decision-making.svg" alt="">
                                                  </div>
                                                  <p>
                                                          Data-driven decision-making
              
                                                  </p>
                                      </div>
                                      <div class="single-feature">
                                              <div class="single-feature-icon">
                                                      <img src="assets/img/development.svg" alt="">
                                                  </div>
                                                  <p>
                                                          Path to continuous improvement
              
                                                  </p>
                                      </div>
                                          
                                  </div>
              </div>
              </div>
      </div> -->
      <!-- about part start-->


      <!-- ================ contact section start ================= -->
    <section class="contact-section">
      <div class="container">
      
        <div class="row justify-content-center ">
          <div class="col-12">
            <h3 class="text-center">
                Interested in RUC?
            </h3>
          </div>
          <div class="col-8  mb-5">
            <h2 class="contact-title text-center">Join Us</h2>
          </div>
          <div class="col-lg-8">
            <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder = 'Enter your name'>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder = 'Enter email address'>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder = 'Enter Subject'>
                      </div>
                    </div>
                <div class="col-12">
                  <div class="form-group">
                    
                      <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>
                  </div>
                </div>
             
              </div>
              <div class="form-group mt-3 text-center">
                <button type="submit" class="button button-contactForm">Submit</button>
              </div>
            </form>
          </div>
         
        </div>
      </div>
    </section>
    <!-- ================ contact section end ================= -->

<!-- upcoming_event part start-->


<!-- player info part start-->
<!-- <section class="player_info section_padding">
  <div class="container">
    <div class="row">
      <div class="player_info_item owl owl-carousel">
        <div class="player_info_iner">
          <div class="row align-items-center">
            <div class="col-md-6 col-xl-5">
              <div class="player_info_img">
                <img src="assets/img/player_info.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 offset-xl-1 col-xl-5">
              <div class="player_info_text">
                <h3>Jequline Dodge</h3>
                <p>
                  Together won't fowl you fish living in signs open which seed
                  Face it above male in him his subdue spirit deep given. Won't
                  forth don't cattle was were second fruitful. Together won't
                  fowl Together won't fowl you fish living in signs open which
                  seed Face it above male in him his subdue spirit deep given.
                  Won't forth don't cattle was were second fruitful.
                </p>
                <a href="#" class="">Swords Club</a>
                <img src="assets/img/club_logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="player_info_iner">
          <div class="row align-items-center">
            <div class="col-md-6 col-xl-5">
              <div class="player_info_img">
                <img src="assets/img/about.png" alt="" />
              </div>
            </div>
            <div class="col-md-6 offset-xl-1 col-xl-5">
              <div class="player_info_text">
                <h3>Jequline Dodge</h3>
                <p>
                  Together won't fowl you fish living in signs open which seed
                  Face it above male in him his subdue spirit deep given. Won't
                  forth don't cattle was were second fruitful. Together won't
                  fowl Together won't fowl you fish living in signs open which
                  seed Face it above male in him his subdue spirit deep given.
                  Won't forth don't cattle was were second fruitful.
                </p>
                <a href="#" class="">Swords Club</a>
                <img src="assets/img/club_logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- about part start-->

<!-- gallery_part part start-->
<!-- <section class="gallery_part">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-5">
        <div class="section_tittle text-center">
          <h4>Our Gallery</h4>
          <h2>Latest Player Showcase</h2>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
              <div class="gallery_part_item">
                <div class="grid">
                      <ngx-masonry [options]="{ transitionDuration: 0 }" [useImagesLoaded]="true">
                              <div ngxMasonryItem  class="masonry-item" >
                                      <a
                                      href="assets/img/gallery/gallery_item_1.png"
                                      class="grid-item grid-item--height1 bg_img img-gal"
                                      style="background-image: url('assets/img/gallery/gallery_item_1.png')"
                                    >
                                      <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                          <div class="gallery_item_text">
                                            <h3>Face is had place image</h3>
                                            <p>Swords Club vs Uknights Club</p>
                                          </div>
                                        </div>
                                      </div>
                                    </a>
                              </div>
              <div ngxMasonryItem  class="masonry-item" >
                                      <a
                                      href="assets/img/gallery/gallery_item_2.png"
                                      class="grid-item grid-item--height2 bg_img img-gal"
                                      style="background-image: url('assets/img/gallery/gallery_item_2.png')"
                                    >
                                      <div class="single_gallery_item">
                                        <div class="single_gallery_item_iner">
                                          <div class="gallery_item_text">
                                            <h3>Face is had place image</h3>
                                            <p>Swords Club vs Uknights Club</p>
                                          </div>
                                        </div>
                                      </div>
                                    </a>
                                  </div>
                                 
                   <div ngxMasonryItem  class="masonry-item" >
                  <a
                    href="assets/img/gallery/gallery_item_2.png"
                    class="grid-item grid-item--height2 bg_img img-gal"
                    style="background-image: url('assets/img/gallery/gallery_item_2.png')"
                  >
                    <div class="single_gallery_item">
                      <div class="single_gallery_item_iner">
                        <div class="gallery_item_text">
                          <h3>Face is had place image</h3>
                          <p>Swords Club vs Uknights Club</p>
                        </div>
                      </div>
                    </div>
                  </a> </div>
                  <div ngxMasonryItem  class="masonry-item" >
                  <a
                    href="assets/img/gallery/gallery_item_3.png"
                    class="grid-item grid-item--width2 grid-item--height2 bg_img img-gal"
                    style="background-image: url('assets/img/gallery/gallery_item_3.png')"
                  >
                    <div class="single_gallery_item">
                      <div class="single_gallery_item_iner">
                        <div class="gallery_item_text">
                          <h3>Face is had place image</h3>
                          <p>Swords Club vs Uknights Club</p>
                        </div>
                      </div>
                    </div>
                  </a> </div>
                  <div ngxMasonryItem  class="masonry-item" >
                  <a
                    href="assets/img/gallery/gallery_item_4.png"
                    class="grid-item grid-item--height3 bg_img img-gal"
                    style="background-image: url('assets/img/gallery/gallery_item_4.png')"
                  >
                    <div class="single_gallery_item">
                      <div class="single_gallery_item_iner">
                        <div class="gallery_item_text">
                          <h3>Face is had place image</h3>
                          <p>Swords Club vs Uknights Club</p>
                        </div>
                      </div>
                    </div>
                  </a> </div>
                  <div ngxMasonryItem  class="masonry-item" >
                  <a
                    href="assets/img/gallery/gallery_item_5.png"
                    class="grid-item grid-item--height3 bg_img img-gal"
                    style="background-image: url('assets/img/gallery/gallery_item_5.png')"
                  >
                    <div class="single_gallery_item">
                      <div class="single_gallery_item_iner">
                        <div class="gallery_item_text">
                          <h3>Face is had place image</h3>
                          <p>Swords Club vs Uknights Club</p>
                        </div>
                      </div>
                    </div>
                  </a> </div>
                  <div ngxMasonryItem  class="masonry-item" >
                  <a
                    href="assets/img/gallery/gallery_item_6.png"
                    class="grid-item grid-item--width2 grid-item--height2 bg_img img-gal"
                    style="background-image: url('assets/img/gallery/gallery_item_6.png')"
                  >
                    <div class="single_gallery_item">
                      <div class="single_gallery_item_iner">
                        <div class="gallery_item_text">
                          <h3>Face is had place image</h3>
                          <p>Swords Club vs Uknights Club</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
                  <div ngxMasonryItem  class="masonry-item" >
                    
                  <a
                    href="assets/img/gallery/gallery_item_7.png"
                    class="grid-item grid-item--height2 bg_img img-gal"
                    style="background-image: url('assets/img/gallery/gallery_item_7.png')"
                  >
                    <div class="single_gallery_item">
                      <div class="single_gallery_item_iner">
                        <div class="gallery_item_text">
                          <h3>Face is had place image</h3>
                          <p>Swords Club vs Uknights Club</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
                  <div ngxMasonryItem  class="masonry-item" >
                  <a
                    href="assets/img/gallery/gallery_item_8.png"
                    class="grid-item grid-item--height1 bg_img img-gal"
                    style="background-image: url('assets/img/gallery/gallery_item_8.png')"
                  >
                    <div class="single_gallery_item">
                      <div class="single_gallery_item_iner">
                        <div class="gallery_item_text">
                          <h3>Face is had place image</h3>
                          <p>Swords Club vs Uknights Club</p>
                        </div>
                      </div>
                    </div>
                  </a></div>
                </ngx-masonry></div>
                </div> 
              
            </div>
          </div>
    </div>
  
  </div>
</section> -->
<!-- gallery_part part end-->

<!-- blog_part part start-->
 <!--<section class="blog_part section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5">
        <div class="section_tittle text-center">
          <h4>From The Blog</h4>
          <h2>Latest News & Update</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img
              src="assets/img/blog/blog_1.png"
              class="card-img-top"
              alt="blog"
            />
            <div class="card-body">
              <span class="dot">12 march, 2019</span>
              <a href="blog.html"
                ><h5 class="card-title">
                  Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                </h5></a
              >
              <a href=""></a>
              <ul>
                <li><span class="ti-layers"></span>Sports news</li>
                <li><span class="ti-comments"></span>2 Comments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img
              src="assets/img/blog/blog_2.png"
              class="card-img-top"
              alt="blog"
            />
            <div class="card-body">
              <span class="dot">12 march, 2019</span>
              <a href="blog.html"
                ><h5 class="card-title">
                  Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                </h5></a
              >
              <a href=""></a>
              <ul>
                <li><span class="ti-layers"></span>Sports news</li>
                <li><span class="ti-comments"></span>2 Comments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img
              src="assets/img/blog/blog_3.png"
              class="card-img-top"
              alt="blog"
            />
            <div class="card-body">
              <span class="dot">12 march, 2019</span>
              <a href="blog.html"
                ><h5 class="card-title">
                  Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                </h5></a
              >
              <a href=""></a>
              <ul>
                <li><span class="ti-layers"></span>Sports news</li>
                <li><span class="ti-comments"></span>2 Comments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog d-none d-sm-block d-lg-none">
          <div class="card">
            <img
              src="assets/img/blog/blog_4.png"
              class="card-img-top"
              alt="blog"
            />
            <div class="card-body">
              <span class="dot">12 march, 2019</span>
              <a href="blog.html"
                ><h5 class="card-title">
                  Dictumst iaculis mauris egestas Nibh netus mauris suscipit.
                </h5></a
              >
              <a href=""></a>
              <ul>
                <li><span class="ti-layers"></span>Sports news</li>
                <li><span class="ti-comments"></span>2 Comments</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
<!-- blog_part part end-->

<!-- social_connect_part part start-->
<!-- <section class="social_connect_part">
  <div class="container-fluid">
    <div class="row justify-content-center ">
      <div class="col-xl-5">
        <div class="section_tittle text-center">
          <h4>Social Media</h4>
          <h2>Follow Us Instagram</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="social_connect">
          <div class="single-social_connect">
            <div class="social_connect_img">
              <img src="assets/img/insta/instagram_1.png" class="" alt="blog" />
              <div class="social_connect_overlay">
                <a href="#"><span class="ti-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="single-social_connect">
            <div class="social_connect_img">
              <img src="assets/img/insta/instagram_2.png" class="" alt="blog" />
              <div class="social_connect_overlay">
                <a href="#"><span class="ti-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="single-social_connect">
            <div class="social_connect_img">
              <img src="assets/img/insta/instagram_3.png" class="" alt="blog" />
              <div class="social_connect_overlay">
                <a href="#"><span class="ti-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="single-social_connect">
            <div class="social_connect_img">
              <img src="assets/img/insta/instagram_4.png" class="" alt="blog" />
              <div class="social_connect_overlay">
                <a href="#"><span class="ti-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="single-social_connect">
            <div class="social_connect_img">
              <img src="assets/img/insta/instagram_5.png" class="" alt="blog" />
              <div class="social_connect_overlay">
                <a href="#"><span class="ti-instagram"></span></a>
              </div>
            </div>
          </div>
          <div class="single-social_connect">
            <div class="social_connect_img">
              <img src="assets/img/insta/instagram_6.png" class="" alt="blog" />
              <div class="social_connect_overlay">
                <a href="#"><span class="ti-instagram"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- social_connect_part part end-->
