
@media screen and (min-width: 1200px) {
    .masonry-item {
      width: 33.3%;
    }
  }

  @media screen and (max-width: 1200px) {
    .masonry-item {
      width: 33.3%;
    }
  }

  @media screen and (max-width: 768px) {
    .masonry-item {
      width: 50%;
    }
  }

  @media screen and (max-width: 420px) {
    .masonry-item {
      width: 100%;
    }
  }

  .landing-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/img/landing-bg.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .join-btn{
    background: #101010; 
  
  }

  .join-btn:hover{
    color: #fff  !important; 
   
  }
.banner_part{
  padding: 0;
}
 
.banner-logo{
  margin-bottom: 1rem;
  img{
    width: 200px;
  }
}

.goals-img{
  margin: 3rem 0 0;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
}

  .banner_img{
    width: 75%;
    height:100%;
    background-image: url(/assets/img/banner_bg2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
  }
.grid_section{
  position: relative;
  margin: 0;
  overflow: visible;
  padding:0 0;
}
.circle_bg{
  position: absolute;
  background-image:linear-gradient(to bottom right, #0e0c87d5, #0e0c8793) , url(/assets/img/heading_bg2.png);
  background-size: cover;
  border-radius: 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 10;
}
.circle_bg1{
  width: 18rem;
  height: 18rem;
  top: 25%;
  left: 25%;
}

.content_block{
  .blue-p{
    font-size: 1.2rem;
  }
}

  .sub_heading{
    color: #fff;
    font-size: 5rem;
    letter-spacing: -0.15rem;
    margin: 7rem 2rem;
    font-weight:700;
  }
  .partnership_section{
    padding: 10rem 0;
    .big_heading{
      font-size: 4rem;
      letter-spacing: -0.15rem;
    }
    p{
      text-align: justify;
      font-weight: 600;
      color: #101010;
      font-size: 1.2rem;
      max-width:500px;
      letter-spacing: -0.02rem;
      margin-top: 1rem;
    }
  }
  .partners-section{
    .big_heading{
      font-size: 3.5rem;
      letter-spacing: -0.15rem;
    }
    .partner-img{
      background-color: #fff;
      padding: 2rem;
      margin: 2rem 2rem 2rem;
     border-top-left-radius: 4rem;
     border-bottom-right-radius: 4rem;
      border:2px solid #160e78;
      text-align: center;

      img{
        max-height: 120px;
        width: auto;
      }
    }
  }
  .circle_bg2{
    width: 15rem;
    height: 15rem;
    bottom: -1rem;
    left: 6vw;
    background-image:linear-gradient(to bottom right, #0e0c8793 ,#0e0c87d5) , url(/assets/img/circle_bg1.png);
  }
  .vision_section{
    background-color: #f3f1ff;
    padding: 0 0 100px;
    position: relative;
    border-bottom:1.5px solid #160e78 ;
    p{
    text-align: justify;
    font-weight: 600;
    /* opacity: 0.5; */
    color: #160e78;
    font-size: 1.2rem;
    max-width:450px;
    letter-spacing: -0.02rem;
    margin-top: 2rem;
   
    }
  }
  .vision_img{
    margin-top: 0px;
  }
  .mission_section{
    background-color: #f3f1ff;
    margin-top: 2rem;
    border-top:1.5px solid #160e78 ;
    padding: 3rem 0;
    position: relative;

    h1{
      text-align: right;
    }
    p{
      text-align: justify;
    font-weight: 600;
    /* opacity: 0.5; */
    color: #160e78;
    font-size: 1.2rem;
    max-width:450px;
    margin-left: auto;
    letter-spacing: -0.02rem;
    margin-top: 2rem;
    }
  }

  .section_text{
    max-width: 700px;
  }

  .light_card{
    border: 1px solid rgb(179, 205, 253);
    padding: 1.5rem;
    margin-top: 2rem;
    position: relative;
    z-index: 20;
    background-color: #fff;
    border-radius: 10px;

    .icon{
      width: 70px;
    }

    p{
      font-size: 1rem;
      text-align: left;
      font-weight: 700;
    }
  }
  .light_card.shift_top{
    transform: translateY(50%);
  }

  .light_rect{
    position: absolute;
    top: 4rem;
    right: 0rem;
    width:50%;
    height: 100%;
    background-image:linear-gradient(to right,  #0e0c87d5, #0e0c8793), url(/assets/img/circle_bg1.png);
    //background-color: #f3f1ff;
    border-bottom-left-radius: 0rem;
    border-top-left-radius: 20rem;
  }

  
  .light_rect2{
    position: absolute;
    top: 2rem;
    left: 0rem;
    width:50%;
    height: 90%;
    background-color: #f3f1ff;
    border-bottom-right-radius: 10rem;
    border-top-right-radius: 10rem;
    //box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .contact_section{
    margin-top: 2rem;
    padding: 4rem 0;

    .big_heading{
      font-size: 4rem;
      letter-spacing: -0.15rem;
    }

    .contact_img{
      width: 75%;
    }

    .form_head{
      margin: 3rem 0;
      font-weight: 700;
      letter-spacing: -0.1rem;
      color: #160e78;
      text-align: center;
    }
  }


  .form-contact{
    .form-control{
      border: 1px solid #f0e9ff;
      border-radius: 14px;
      outline: none;
      height: 48px;
      padding-left: 18px;
      font-size: 13px;
      padding: 1.5rem 1.2rem;
      background: #f3f1ff;
      border: 2px solid transparent;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  .form-control:focus{
    border: 2px solid #160e78;
    box-shadow: -1px 3px 11px 9px #160e781c, 1px 3px 4px 2px #160e7826;
  }
  }


  @media all and (max-width:991px){
    .banner_part{
      height: 100vh;
    }
    .banner_img{
      display: none;
    }
    .banner_text{
      width: 100%;
      padding-left: 0;
     

      p{
        margin: 0 auto;
        color: #fff;
        width: 90%;
        opacity: 1;
      }

      h1{
        color: #fff;
      }

    }
    .circle_bg1 {
      width: 15rem;
      height: 15rem;
      top: 50%;
    }
    .circle_bg2{
      bottom: -7rem;
    /* left: 20vw; */
    left: auto;
    right: 55%;
    }
    
    .mission_section{
      margin-top: 0;
    }
    .contact_section{
    padding: 4rem 0;
      h1{
        text-align: center;
      }
      .col-lg-6{
        text-align: center;
      }

      img{
        width: 90%;
        max-width: 400px;
      }
    }
    .light_rect2{
      width: 100%;
    top: 2rem;
    height: 95%;
    }
    .form-contact{
      .form-control{
        background-color: #fff;
      }
    }
  }

  @media screen and (max-width: 576px){
 
  .mission_section{
    h1{
      text-align: left;
    }
  }
  .light_rect{
    width: 100%;
    border-top-left-radius: 0rem;

    
  }

  .banner-logo img {
    width: 150px;
}

  .about_text .big_heading{
    color: #fff;
}
  .circle_bg1{display: none;}
  .light_card.shift_top{
    transform: translateY(0);
  }
}