
@import '../resources/resources.component.scss';

.grid_section{
    position: relative;
    margin: 0;
    padding:0 0;
  }


.heading_block_left{
  height: 100%;
  top: 0;
    padding: 5rem 0 3rem;
    background-image:linear-gradient(to bottom right, #0e0c87d5, #0e0c8793) , url(/assets/img/heading_bg2.png);
    border-top-right-radius: 15rem;
    border-bottom-right-radius: 6rem;
  }

.big_heading {
  font-weight: 800;
  color: #160e78;
  position: relative;
  z-index: 10;
  font-size: 3rem;
  letter-spacing: -0.12rem;
}

.circle_bg {
  position: absolute;
  background-image: linear-gradient(to bottom right, #0e0c87d5, #0e0c8793),
    url(/assets/img/circle_bg1.png);
  background-size: cover;
  border-radius: 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 10;
}
.circle_bg1 {
  width: 14rem;
  height: 14rem;
  top: 10%;
  left: 15%;
}

.cover-photo{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  img{
    object-fit: cover;
    object-position: top center;
  }
}

.visioning_section{
    background-color: #f3f1ff;
    padding: 5rem 0;
    .big_heading{
        font-size: 3.2rem;
    }
    p{
        text-align: justify;
    font-weight: 600;
    /* opacity: 0.5; */
    color: #160e78;
    font-size: 1.2rem;
    max-width:450px;
    letter-spacing: -0.02rem;
    margin-top: 2rem;
    }
}

.summit_img{
    width: 90%;
}

.two_grid{
    padding:6rem 0;
}

.grid_box{
    margin:1rem 0;
    color: #fff;
    background-size: cover;
    padding: 6rem 2rem;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-position: bottom right;
    background-repeat: no-repeat;

    .big_heading{
        color: #fff;
        font-weight: 700;
        font-size: 2.8rem;
        text-align:center;
        letter-spacing: -0.08rem;
        border-bottom: 1px solid #fff;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }
    .content{
        text-align: justify;
        line-height: 1.8;
        font-size: 0.9rem;
        color: #fff;
    }
}

.mission_box{
    background-image: linear-gradient(to bottom right, #0e0c87d5, #0e0c8793),
    url(/assets/img/header_bg1.jpg);
    border-top-left-radius: 8rem;
}   


.vision_box{
    background-image: linear-gradient(to bottom right, #0e0c87d5, #0e0c8793),
    url(/assets/img/vision_box_img.jpg);
    border-bottom-right-radius: 8rem;
}   

.grid_circle{
    position: absolute;
    background-image:linear-gradient(to bottom right, #0e0c87d5, #0e0c8793) , url(/assets/img/circle_img.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 10;
}

.grid_circle_1{
   top: -4rem;
   left: -4rem;
}

.grid_circle_2{
    bottom: -4rem;
    right: -4rem;
 }

 .meet_our_team{
   margin: 2rem 0 0;
   min-height: 75vh;
 }
.team_img{
  width: 80%;
  transform: translateY(50%);
}
 
.team_rect{
  position: absolute;
  top: 0;
  right: 0rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: linear-gradient(to right, #0e0c87d5, #0e0c8793),
    url(/assets/img/circle_bg1.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-bottom-left-radius: 0;
  border-top-left-radius: 6rem;


  .big_heading{
    margin-bottom: 4rem;
    margin-right: 4vw;
    font-size: 3rem;
    letter-spacing: -0.1rem;
    color: #fff;
  }
}


.team_section {
  padding: 60px 0;
}
.team_member {
  margin-bottom: 2rem;
    background: #f7f5ff;
    border-radius: 1rem;
    border: 1.2px solid #160e788f;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  cursor: pointer;
    &:hover{
        background-color:#170e78 ;
        h2,p,h6{
          color: #fff;
        }
    }
}
.member_img {
  position: relative;
  height: 230px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top;
}


.member_img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10px;
  z-index: 2;
  right: -10px;
  background-color: #e1f4e7;
}

.member_details {
 
  h2 {
    font-weight: 800;
    margin-top: 0.5rem;
    padding: 1rem 0;
    font-size: 1.8rem;
    letter-spacing: -0.06rem;
    color: #160e78;
    transition: all 0.3s ease-in-out;
  }

  p{
    font-size: 1rem;
    color: #212121;
    letter-spacing: -0.04rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }
  h6 {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #160e78;
    opacity: 0.6;
    letter-spacing: -0.02rem;
    transition: all 0.3s ease-in-out;
  }
}


.executives, .board_of_directors{
  background-color: #f3f1ff;
}

.executives{
  border-top-left-radius: 8em;
  padding: 3rem 0 0;
}

.board_of_directors{
  padding-top: 1rem;
  margin-bottom: 6rem;
  border-bottom-right-radius: 8rem;
}

.board_of_directors{
  .team_member{
    margin-bottom: 1rem;
  }
  .member_img{
    max-height: 350px;
    object-position: top center;
  }
  .member_details{
    padding: 0 1rem 0.5rem;

    h2{
      font-size: 1.5rem;
      margin-top: 0rem;
      letter-spacing: -0.04rem;
    }
    h6{
      font-size: 1rem;
    }
  }
}

  
.styled-list{
  li{
    list-style: none;
    color: #160e78;
    font-size:1.5rem;
    margin-bottom: 1rem;
  }
}

.img-card{
  margin:2rem 1rem;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}


@media screen and (max-width:991px){
  .header_content{
    min-height: 50vh;
  }
  .light-box{
    h1 {
        font-size: 3.5rem;
        letter-spacing: -0.2rem;
    }
}
  .member_details{
    padding: 1rem;
  }
  .grid_circle_1{
    top: 0;
    left: 4rem;
  }
  .grid_circle_2{
    bottom: -7rem;
    right: 2rem;
}
  .d-mobile-none{
    display: none;
  }
  .grid_box{
    height: 50vh;
  }
  .meet_our_team{
    margin: 3rem 0;
    min-height: 50vh;
  }
  .team_rect{
    width: 100%;
    height: 100%;
    
    justify-content: center;
    
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .team_img{
    width: 75%;
    transform: translateY(0);
  }
  .executives{
    padding-top: 8rem;
    margin-top: 4rem;
  }
  .big_heading{
    text-align: center;
  }
  .board_of_directors .member_img{
    height: 320px;
  }
  .member_img{
    height: 250px;
  }
}

@media screen and (max-width:576px){
  .header_content{
    height: 50vh;
    .header_img{
      width: 100%;
    }
  }
  .light-box{
    h1{
        font-size: 2.5rem;
        letter-spacing: -0.08rem;
        
    }
}
.l-text{
  p{
    text-align: left;
  }
}
  .member_img{
    height: 350px;
  }
}