<section class="header_content">
  <h1 class="big_heading">
    About Us
  </h1>
  <div class="header_img"></div>
</section>

<!-- about part start-->
<section class="about_part grid_section" id="about-sec">
  <div class="heading_block heading_block_left"></div>
  <div class="content_block">
    <div class="container">
      <div class="about_text">
        <h2>
          History of RUC – It all started with a vision:
        </h2>

        <h3 class="secondary-head">Resilient Utility Coalition Visioning Workshop (2016)</h3>
        <div class="section_text">
          <ul class="styled-list">
            <li>
              <p class="blue-p">
                The Resilient Utility Coalition Visioning Workshop was envisioned with the objective of bringing together water, wastewater, and stormwater utilities, industry, academia, and the greater community to develop the framework for a coalition that will address one of today’s most pressing issues. Climate change impacts pose an unprecedented challenge to utilities in fulfilling their core mission of providing safe drinking water, protecting public health and maintaining environmental standards. Therefore, it has become imperative for utilities to place a greater emphasis on understanding these factors for resilience of the water sector.
              </p>
            </li>
            <li>
              <p class="blue-p">
                With the objective of advancing utility infrastructure resiliency efforts and to operationalize the policy recommendations of the Southeast Florida Regional Climate Compact, the Miami-Dade Water and Sewer Department has taken a leadership role, along with professional organizations consisting of Florida Section of the American Water Works Association, the Miami-Dade Branch of the American Society of Civil Engineers, and the Miami Chapter of the Florida Engineering Society, in founding the Resilient Utility Coalition. Through the coalition, we have a unique opportunity to integrate resiliency into utility planning, design and operations.
              </p>
            </li>
            <li>
              <p class="blue-p">
RUC’s visioning workshop intended to initiate a regional conversation on resiliency and facilitate the development of joint strategies to mitigate the challenges currently faced by the utilities in South Florida. RUC presented an agenda to promote discussion amongst the various stakeholders in our industry. The exchange of experiences, technical know-how and collective intellectual capital between the partners played a crucial role in establishing the vision for the coalition and identifying opportunities for collaboration between the various pillars of our industry.
              </p>
            </li>
          </ul>
          <div class="mt-2">
            <a routerLink="/resources">See the Resources page for information on Tech Talks and other events hosted by RUC and its partners.</a>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>

<div class="visioning_section">
  <div class="container">
    <h1 class="big_heading d-lg-none text-center">
      Visioning Summit
    </h1>
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="big_heading d-mobile-none">
          Visioning Summit
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
          deserunt numquam voluptates enim nisi eum voluptate consectetur, fuga,
          necessitatibus sed provident adipisci nobis veniam reiciendis?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem
          veniam maxime placeat, facere aliquam molestias saepe iusto in
          quibusdam sequi. Sapiente temporibus minus ex.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/summit_img.svg" alt="" class="summit_img" />
      </div>
    </div>
  </div>
</div>

<section class="two_grid">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5">
        <div class="mission_box grid_box">
          <div class="grid_circle grid_circle_1"></div>
          <h1 class="big_heading">
            Misson
          </h1>
          <p class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            accusantium dolore rerum, nemo reiciendis odio beatae accusamus
            quisquam debitis eius praesentium quia ipsum, cumque numquam. Quos
            consequuntur rem esse soluta incidunt aliquid? Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Facere reprehenderit maxime vero,
            corporis magnam, aliquam cum laborum repudiandae quae commodi sunt
            corrupti atque doloribus nemo.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="vision_box grid_box">
          <div class="grid_circle grid_circle_2"></div>
          <h1 class="big_heading">
            Vision
          </h1>
          <p class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            accusantium dolore rerum, nemo reiciendis odio beatae accusamus
            quisquam debitis eius praesentium quia ipsum, cumque numquam.
            Laudantium libero quo tempora. Quam, nihil. Mollitia non atque odio
            eum ut quos consectetur in impedit quibusdam exercitationem. Quos
            consequuntur rem esse soluta incidunt aliquid?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="meet_our_team">
  <div class="team_rect">
    <h1 class="big_heading">
      Meet out team
    </h1>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
        <img src="assets/img/team_img.svg" alt="" class="team_img" />
      </div>
    </div>
  </div>
</section>

<section class="executives">
  <div class="container">
    <div class="my-1">
      <h1 class="big_heading">Executive Board</h1>
    </div>
    <div class="team_section">
      <div class="row">
        <div class="col-lg-6" *ngFor="let item of executives">
          <a (click)="showMember(item)">
            <div class="team_member">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <img [src]="item.img" alt="" class="member_img" />
                </div>
                <div class="col-md-8">
                  <div class="member_details">
                    <h2>
                      {{ item.name }}
                    </h2>
                    <p>
                      {{ item.position }}
                    </p>
                    <h6>
                      {{ item.org }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="board_of_directors">
  <div class="container">
    <div class="my-1">
      <h1 class="big_heading">Board of Directors</h1>
    </div>
    <div class="team_section">
      <div class="row">
        <div class="col-md-6 col-xl-3 col-lg-4" *ngFor="let item of directors">
          <a (click)="showMember(item)">
            <div class="team_member">
              <img [src]="item.img" alt="" class="member_img" />

              <div class="member_details">
                <h2>
                  {{ item.name }}
                </h2>
                <p>
                  {{ item.position }}
                </p>
                <h6>
                  {{ item.org }}
                </h6>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="teamMemberModal" role="dialog" #teamMemberModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="this.modal.closeModal(teamMemberModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body light-box">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-4">
              <div class="l-img">
                <img [src]="currentMember.img" alt="" />
              </div>
            </div>
            <div class="col-md-8">
              <div class="details">
                <h1 class="name">{{ currentMember.name }}</h1>
                <h2 class="position">
                  {{ currentMember.position }}
                </h2>
                <h3 class="org">
                  {{ currentMember.org }}
                </h3>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="l-text">
                <p [innerHTML]="currentMember.about"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-4">
          <button
            type="button"
            class="btn btn-default"
            (click)="this.modal.closeModal(teamMemberModal)"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
