.logo img{
    width: 110px;
    margin: 12px 24px;
    visibility: hidden;
    
}
.logo-link:hover{
    border-bottom: none;
}

.menu_fixed .logo img{
    width: 70px;
    visibility: visible !important;
}

.join-us{
    border:1.5px solid #8cbd3a !important
}

.navbar-toggler span i{
    font-size: 3rem;
    color: #fff;
    font-weight: 300;
    margin: 0 4vw;
}
.main_menu.menu_fixed {
    .navbar-toggler span i{
        color: #000;
    }
}
.main_menu.dark .navbar-light .navbar-nav .nav-link{
    color: #160e78;
}
@media screen and (max-width:991px){
    .main_menu .navbar-light .navbar-nav .nav-link {
        color: #000;
        text-transform: capitalize;
        font-weight: 700;
        display: inline-block;
    }
}

