<!-- ================  breadcrumb part start ================  -->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h1>Events</h1>
            <p>Home<span>/</span>Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="breadcrumb-slantdiv"></div>
<!-- ================ breadcrumb part start ================ -->

<!-- about part start-->
<section class="about_part recreational_part mb-n0">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-xl-9">
        <div class="about_text">
          <h4>Events</h4>
          <h2>RUC Tech Talk Series</h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-2">
        <div class="about_img">
          <img src="assets/img/pattern.svg" class="w-50" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_part brainstrom brainstrom-2 mt-n5">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-5 offset-xl-1 col-xl-4">
        <div class="about_img">
          <img src="assets/img/thumbnail.jfif" alt="" />
          <div class="text-right my-3">
            <a href="#" class="btn_2">Register Now</a>
          </div>

          <small>
            For additional information on this event please contact Andres Gomez
            Bonvacchio at (785) 332-9708 or andres.gomez@resilientutilities.org
          </small>
        </div>
      </div>
      <div class="col-md-7 col-xl-6">
        <div class="about_text">
          <h2>
            Presentation:
            <br />
            <span>
              Security Starts Here: Homeland Security Starts with Hometown
              Security
            </span>
          </h2>
          <h3>
            <strong>
              Matthew Frost, Protective Security Advisor U.S. Department of
              Homeland Security
            </strong>
          </h3>
          <h3>
            <span class="ti-calendar"></span>
            Date: Wednesday, May 23, 2018
          </h3>
          <h3>
            <span class="ti-time"></span>
            Time: 12:00 pm to 2:00 pm
          </h3>
          <h3>
            <span class="ti-location-pin"></span>
            Location: Miami-Dade Water and Sewer
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Department, Training Room B 3071 SW 38th Ave, Miami, FL 33146
          </h3>
          <h3>
            <span class="ti-money"></span>

            <strong> Registration fee:</strong>
            General (lunch provided) 30$, Students (lunch provided) 10$, Webinar
            10$
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ contact section start ================= -->
<section class="contact-section">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-lg-12">
        <div class="company-row my-5">
          <div class="row">
            <div class="col-md-3">
              <img src="assets/img/c1.jpg" alt="" />
            </div>
            <div class="col-md-3">
              <img src="assets/img/c2.png" alt="" />
            </div>
            <div class="col-md-3">
              <img src="assets/img/c3.png" alt="" />
            </div>
            <div class="col-md-3">
              <img src="assets/img/c4.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-8  mb-1">
        <h2 class="contact-title text-center">
          Capacity for this event is limited!
        </h2>
      </div>
      <div class="col-12">
        <div class="text-center mb-5">
          <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07efdqo30d94db8d12&oseq=&c=&ch=" target="_blank" class="btn_2">Register Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mb-n4">
    <div class="container my-5">
        <div class="row my-3">
                <div class="col-12">
                        <h2 class="big-heading text-center">AACE and RUC support <span style="color:#888; font-family:Montserrat;font-weight: 700;">#MiamiConMocoa</span> </h2>
                      </div>
        </div>
            <div class="iframe-container">
                    <iframe width="898" height="506" src="https://www.youtube.com/embed/YY3mDzic7co" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
    </div>
</section>

<!-- ================ contact section end ================= -->

<!-- about part start-->
<section class="about_part recreational_part mission mb-1">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6  col-xl-6">
        <div class="about_text">
          <h2>RUC Tech Talk Series Kick-off</h2>
          <p>
            The Resilient Utility Coalition would like to express its
            appreciation to everyone who participated in the RUC Tech Talk
            Series Kick-off event held on June 8, 2017. This initiative is a
            continuation of RUC’s mission for serving as a facilitator for
            communication and knowledge sharing, regarding topics relevant to
            the development of joint strategies and actions to achieve
            resilience within our utilities. The event was a resounding success
            with more than 80 participants representing all branches of the
            water and wastewater industry.
          </p>
          <!-- <a href="#" class="btn_2">read more</a> -->
        </div>
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="about_img">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item text-center active">
                <img src="assets/img/car1.jpg" class height="500" />
              </div>
              <div class="carousel-item text-center">
                <img src="assets/img/car2.jpg" class height="500" />
              </div>
              <div class="carousel-item text-center">
                <img src="assets/img/car3.jpg" class height="500" />
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about part start-->

<section class="about_part2 about_part mt-n5" id="about-sec">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-6 offset-xl-1 col-xl-5">
        <div class="about_img">
          <img src="assets/img/about.jfif" alt="" />
        </div>
      </div>
      <div class="col-md-6 col-xl-5">
        <div class="about_text">
          <p>
            RUC would like to give special thanks to the presenters, Laurens van
            der Tak and Jason Bird for taking the time to prepare the valuable
            information that was shared with the attendees during the event. The
            Resilient Utility Coalition would also like to thank and recognize
            Miami-Dade Water and Sewer Department (WASD) fort hosting the event.
          </p>
          <p>
            We have made available in our website the recording of the
            presentation as well as the material presented for our members to be
            able to share this information with their colleagues and within
            their organizations.
          </p>
          <p>
            We look forward to seeing you at our next event to continue to
            advance utility infrastructure resilience efforts in South Florida
            and provide our members essential value to its members and partners.
          </p>
          <a
            href="https://aecom.webex.com/mw3100/mywebex/nbrshared.do"
            target="_blank"
            class="btn_2 mx-2"
            >Presentation Recording</a
          >
          <a
            href="https://resilientutilities.org/wp-content/uploads/2017/09/ruc-tech-talks-presentation-pdf.pdf"
            target="_blank"
            class="btn_2 mx-2"
            >Presentation PDF</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- coloured section start-->
<section class="colored-section mb-1 section_padding1">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6  col-xl-6">
              <div class="about_text">
                <h2>Operationalizing Resilience Presentation at FWEA Quarterly Meeting</h2>
                <p>
                        Miami-Dade Water and Sewer Department (WASD) participated on the Florida Water Environment Association (FWEA) Quarterly Meeting as guest speaker with a presentation focused on Operationalizing Resilience by Deputy Director of Capital Improvement Projects, Hardeep Anand, P.E.

                </p>
                <p>
                    
                        The event had a great turn out with very interesting questions and lots of interest shown on initiatives associated with resilience for the different challenges faced by utilities in the South Florida region. 
                </p>
                <!-- <a href="#" class="btn_2">read more</a> -->
              </div>
            </div>
            <div class="col-md-6 col-xl-6">
              <div class="about_img">
                <div id="demo1" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                    <li data-target="#demo1" data-slide-to="0" class="active"></li>
                    <li data-target="#demo1" data-slide-to="1"></li>
                    <li data-target="#demo1" data-slide-to="2"></li>
                  </ul>
      
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item text-center active">
                      <img src="assets/img/ca1.jpg" class height="500" />
                    </div>
                    <div class="carousel-item text-center">
                      <img src="assets/img/ca2.jpg" class height="500" />
                    </div>
                    <div class="carousel-item text-center">
                      <img src="assets/img/car3.jpg" class height="500" />
                    </div>
                  </div>
      
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo1" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo1" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- coloured section start-->
      <!-- coloured section start-->
<section class="colored-section mb-1 section_padding1">
        <div class="container">
          <div class="row align-items-center justify-content-center">
                <div class="col-md-6 col-xl-4">
                        <div class="about_img">
                                <img src="assets/img/book.png" />
                            </div>
               </div>
            <div class="col-md-6  col-xl-8">
              <div class="about_text">
                <h2>The RUC Visioning Workshop Report</h2>
                <p>
                        In an effort to share the findings from RUC’s Visioning Workshop with the Water and Wastewater community, we have produced a report that documents the ideas put forward during the Visioning Workshop by participants and key stakeholders. 


                </p>
                <p>
                        Based on the evaluation of the information collected during the event, this report seeks to identify common indicators for an effective path forward as well as steps to follow in the near future towards the establishment of an integrated coalition among the utilities in the region, big and small, to build resilient utilities.
                </p>
                <a
                href="https://resilientutilities.org/wp-content/uploads/2017/09/Resilient-Utility-Coalition-Visioning-Workshop.pdf"
                target="_blank"
                class="btn_2 mx-2"
                >Download PDF</a
              >
                <!-- <a href="#" class="btn_2">read more</a> -->
              </div>
            </div>
          
          </div>
        </div>
      </section>
      <!-- coloured section start-->
            <!-- coloured section start-->
<section class="colored-section mb-1 section_padding1">
        <div class="container">
                <h2>Thank You for Taking Part in the Visioning Workshop for the Resilient Utility Coalition</h2>
             
          <div class="row align-items-center justify-content-center">
                
            <div class="col-md-6  col-xl-5">
              <div class="about_text">
               
                <p>
                        The Resilient Utility Coalition would like to express its appreciation for your participation in the RUC Visioning Workshop held on August 18, 2016. The event was a resounding success with more than 200 participants representing a diverse cross section of utilities, industry, and academia.

                </p>
                <p>
                        The event offered attendees value through presentations from EPA, DOE, and a productive dialogue with colleagues regarding resiliency and our utilities. The Resilient Utility Coalition will now take your input and incorporate it into the mission and vision for the organization. Thank you for your participation, the event would not have been possible without your support.
                </p>
                
               
              </div>
            </div>
            <div class="col-md-6 col-xl-7">
                    <div class="about_img">
                            <div id="demo2" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ul class="carousel-indicators">
                                      <li data-target="#demo2" data-slide-to="0" class="active"></li>
                                      <li data-target="#demo2" data-slide-to="1"></li>
                                      <li data-target="#demo2" data-slide-to="2"></li>
                                      <li data-target="#demo2" data-slide-to="3"></li>
                                      <li data-target="#demo2" data-slide-to="4"></li>
                                     
                                    </ul>
                        
                                    <!-- The slideshow -->
                                    <div class="carousel-inner">
                                      <div class="carousel-item text-center active">
                                        <img src="assets/img/cs1.jpg" class height="500" />
                                      </div>
                                      <div class="carousel-item text-center">
                                        <img src="assets/img/cs2.jpg" class height="500" />
                                      </div>
                                      <div class="carousel-item text-center">
                                        <img src="assets/img/cs3.jpg" class height="500" />
                                      </div>
                                      <div class="carousel-item text-center">
                                            <img src="assets/img/cs4.jpg" class height="500" />
                                          </div>
                                          <div class="carousel-item text-center">
                                                <img src="assets/img/cs5.jpg" class height="500" />
                                              </div>
                                    </div>
                        
                                    <!-- Left and right controls -->
                                    <a class="carousel-control-prev" href="#demo2" data-slide="prev">
                                      <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#demo2" data-slide="next">
                                      <span class="carousel-control-next-icon"></span>
                                    </a>
                                  </div>
                        </div>
           </div>
          
          </div>
          <div class="row mt-4">
                <p>RUC looks forward to making the most of the present opportunity to integrate resiliency into utility operations and planning throughout South Florida. We also look forward to bringing our industry together to develop joint strategies and actions to achieve resiliency within our organizations through collaboration on these various challenges.</p>
                <p>
                      Below you will find download links for all the information that was presented during the RUC Visioning Workshop. Please feel free to <a routerLink="/contact"> contact us </a>if you have any questions or would be interested in partnering with us for future events. 
                </p>
          </div>
          
        </div>
      </section>
      <!-- coloured section start-->
<!-- learn_about part start-->
<section
  class="about_part recreational_part mb-n0 vision programs"
>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center my-1">
      <div class="col-md-12 col-xl-12">
        <div class="about_text">
          <h1 class="big-heading">RUC Programs</h1>
          <!-- <p style="font-size: 22px;"> We are
                              resilient utilities 
                             in a 
                             One Water 
                             coalition.</p> -->
        </div>
      </div>
    </div>
    <div class="feature-grid mb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="single-feature">
              <img src="assets/img/logo.png" alt="" />
              <div class="div">
                <h3>
                  RUC Visioning Workshop Event Program
                </h3>
                <p>
                  By RUC
                </p>
              
              </div>
            </div>
            <a
            href="https://resilientutilities.org/wp-content/uploads/2017/09/Resilient-Utility-Coalition-visioning-workshop-program.pdf"
            target="_blank"
            class="btn_2 mx-2"
            >Download</a
          >
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="single-feature">
              <img src="assets/img/logo2.png" alt="" />
              <div class="div">
                <h3>
                  How Miami-Dade is Adapting and Building Resilience on Multiple
                  Levels Through Collaboration
                </h3>
                <p>
                  By Nichole L. Hefty, Sustainability Chief Miami-Dade Office of
                  Resilience Department of Regulatory & Economic Resources
                </p>
                
              </div>
            </div>
            <a
                  href="https://resilientutilities.org/wp-content/uploads/2017/09/miami-dade.pdf"
                  target="_blank"
                  class="btn_2 mx-2"
                  >Download</a
                >
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="single-feature">
              <img src="assets/img/logo3.jpg" alt="" />
              <div class="div">
                <h3>
                  Partnering with DOE on the Water-Energy Nexus
                </h3>
                <p>
                  By J. Alice G. Dasek, Policy Advisor U.S. Department of Energy
                </p>
               
              </div>
            </div>
            <a
            href="https://resilientutilities.org/wp-content/uploads/2017/09/better-plants.pdf"
            target="_blank"
            class="btn_2 mx-2"
            >Download</a
          >
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="single-feature">
              <img src="assets/img/logo4.jpg" alt="" />
              <div class="div">
                <h3>
                  Operationalizing Resilience in Water Utilities
                </h3>
                <p>
                  By Hardeep Anand, P.E. Deputy Director Capital Improvement
                  Program Miami-Dade Water and Sewer Department
                </p>
               
              </div>
            </div>
            <a
            href="https://resilientutilities.org/wp-content/uploads/2017/09/Operationalizing-Resilience-in-water-utilities.pdf"
            target="_blank"
            class="btn_2 mx-2"
            >Download</a
          >
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="single-feature">
              <img src="assets/img/logo5.png" alt="" />
              <div class="div">
                <h3>
                  EPA’s Climate Ready Water Utilities: Supporting Utilities
                  Adapting to the Impacts of Climate Change
                </h3>
                <p>
                  By J. Stephen Fries, Ph.D. Office of Ground Water and Drinking
                  Water U.S. Environmental Protection Agency
                </p>
              
              </div>
            </div>
            <a
            href="https://resilientutilities.org/wp-content/uploads/2017/09/CLIMATE-READY.pdf"
            target="_blank"
            class="btn_2 mx-2"
            >Download</a
          >
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="single-feature">
              <img src="assets/img/logo6.jpg" alt="" />
              <div class="div">
                <h3>
                  Resilient Utility Coalition Visioning Workshop Reporting
                </h3>
                <p>
                  By Event Attendees
                </p>
               
              </div>
            </div>
            <a
            href="https://resilientutilities.org/wp-content/uploads/2017/09/Resilient-Utility-Coalition-Visioning-Workshop.pdf"
            target="_blank"
            class="btn_2 mx-2"
            >Download</a
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
