<!-- ================  breadcrumb part start ================  -->
<section class="breadcrumb breadcrumb_bg" id="home">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb_iner">
                <div class="breadcrumb_iner_item">
                  <h1>Resources</h1>
                  <p>Home<span>/</span>Resources</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="breadcrumb-slantdiv"></div>
      <!-- ================ breadcrumb part start ================ -->
       <!-- about part start-->
       <section class="about_part recreational_part brainstrom">
            <div class="container-fluid">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-5  col-xl-5">
                  <div class="about_text">
                      
                        <h2>Utility of the Future</h2>
                        <h3>
                                RUC facilitates the resources necessary to assist members position their organizations as utilities of the future. The information, frameworks, and partnerships provided by RUC assist utilities in achieving the attributes of NACWA’s Utility of the Future Today program as well as the Effective Utility Management framework, and EPA’s Climate Ready Utilities.
                        </h3>
                    <a href="https://www.wef.org/UtilityoftheFuture"   target="_blank" class="btn_2">learn more</a> 
                  </div>
                </div>
                <div class="col-md-7 col-xl-4">
                  <div class="about_img">
                    <img src="assets/img/brainstrom-1.jfif" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="about_part brainstrom brainstrom-2 mt-n5">
                <div class="container-fluid">
                  <div class="row align-items-center">
                    <div class="col-md-5 offset-xl-1 col-xl-4">
                      <div class="about_img">
                        <img src="assets/img/brainstrom-2.jfif" alt="" />
                      </div>
                    </div>
                    <div class="col-md-7 col-xl-4">
                            <div class="about_text ">
                      
                                    <h2>Effective Utility Management</h2>
                                  <h3>
                                        A coalition of national water sector associations developed and supported an approach for water utility management based on “Ten Attributes of an Effectively Managed Utility” (EUM)

                                        EUM is now the most widely recognized water sector utility management program in the country
                                  </h3>
                                <!-- <a href="#" class="btn_2">read more</a> -->
                              </div>
                    </div>
                  </div>
                </div>
              </section>
      <!-- ================ all goals section start ================= -->
      <section class="contact-section section-gap feature-section">
        <div class="container vision-page">
          <div class="col-12">
            <h2 class="big-heading text-center">Why EUM?</h2>
            <p class="text-center">
                    EUM assists in evaluating your utility and setting priorities, protects current infrastructure investments and ensures workforce is motivated and able to address challenges
            </p>
          </div>
          <div class="feature-grid1 mb-5">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-4 col-lg-4">
                  <a>
                  <div class="single-feature">
                    <img src="assets/img/award.svg" alt="">
                    <div class="div">
                      <h3>
                            Product quality
                      </h3>
                    </div>
                  </div>
                </a>
                <a> 
                     <div class="single-feature">
                            <img src="assets/img/like.svg" alt="">
                    <div class="div">
                      <h3>
                            Customer satisfaction
                      </h3>
                    </div>
                  </div></a>
              
      <a>
          <div class="single-feature">
                <img src="assets/img/teamwork.svg" alt="">
              <div class="div">
                <h3>
                        Employee / leadership development
                </h3>
              </div>
            </div>
      </a>
     
       
                
                </div>
                <div class="col-xl-4 col-lg-4">
                  <a>  <div class="single-feature">
                        <img src="assets/img/gear.svg" alt="">
                      <div class="div">
                        <h3>
                                Operational optimization

                            
                                
                        </h3>
                      </div>
                    </div></a>
                <a>  <div class="single-feature">
                        <img src="assets/img/revenue.svg" alt="">
                    <div class="div">
                      <h3>
                            Financial viability
                      </h3>
                    </div>
                  </div></a>
              
                  <a><div class="single-feature">
                        <img src="assets/img/insurance.svg" alt="">
                        <div class="div">
                          <h3>
                                Water resource adequacy
                          </h3>
                        </div>
                      </div></a>
                      <a><div class="single-feature">
                            <img src="assets/img/avatar.svg" alt="">
                            <div class="div">
                              <h3>
                                    Stakeholder understanding and support

                              </h3>
                            </div>
                          </div></a>
                  
                </div>
                <div class="col-xl-4 col-lg-4">
                        <a>
                                <div class="single-feature">
                                        <img src="assets/img/idea.svg" alt="">
                                    <div class="div">
                                      <h3>
                                            Operational resiliency
                    
                    
                                      </h3>
                                    </div>
                                  </div>
                            </a>
                            <a>
                                    <div class="single-feature">
                                            <img src="assets/img/support (1).svg" alt="">
                                        <div class="div">
                                          <h3>
                                                Community stability
                    
                    
                                          </h3>
                                        </div>
                                      </div>
                                </a>
                                <a><div class="single-feature">
                                        <img src="assets/img/factory.svg" alt="">
                                        <div class="div">
                                          <h3>
                                                Infrastructure stability
                                          </h3>
                                        </div>
                                      </div></a>
                       
                         
                        
                      </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ================ all goals section end ================= -->
      
      <section
      class="about_part recreational_part mb-n0 vision programs p-0 mt-4"
      >
      <div class="container-fluid">
        <div class="row align-items-center justify-content-center my-1">
          <div class="col-md-12 col-xl-12">
            <div class="about_text">
              <h1 class="big-heading">Resources</h1>
              <!-- <p style="font-size: 22px;"> We are
                                  resilient utilities 
                                 in a 
                                 One Water 
                                 coalition.</p> -->
            </div>
          </div>
        </div>
        <div class="feature-grid mb-5">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                    <div class="single-feature">
                            <img src="assets/img/r2.jpg" alt="" />
                            <div class="div">
                              <h3>
                                      The Southeast Florida Regional Climate Change Compact was executed by Broward, Miami-Dade, Monroe, and Palm Beach Counties in January 2010 to coordinate mitigation and adaptation efforts across county lines.
                              </h3>
                             
                             
                            </div>
                          </div>
                          <a
                          href="http://sefluc.org/"
                          target="_blank"
                          class="btn_2 mx-auto"
                          >Visit Site</a
                        >
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="single-feature">
                  <img src="assets/img/logo3.jpg" alt="" />
                  <div class="div">
                    <h3>
                            Leading manufacturers and industrial-scale energy-using organizations demonstrate their commitment to improving energy performance by signing a voluntary pledge to reduce their energy intensity by 25% over a ten year period.
                    </h3>
                   
                   
                  </div>
                </div>
                <a
                href="http://energy.gov/eere/amo/better-plants"
                target="_blank"
                class="btn_2 mx-auto"
                >Visit Site</a
              >
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-6">
                    <div class="single-feature">
                            <img src="assets/img/r1.png" alt="" />
                            <div class="div">
                              <h3>
                                      EPA’s Climate Ready Water Utilities (CRWU) provides information as well as tools that can be implemented by utilities in order to mitigate the effects of climate change. Some of these assets include but are not limited to practical tools, training and technical assistance. RUC intends to facilitate the conveyance of information developed by CRWU to all the utilities in South Florida.
                              </h3>
                             
                             
                            </div>
                          </div>
                          <a
                          href="https://resilientutilities.org/wp-content/uploads/2017/09/Resilient-Utility-Coalition-visioning-workshop-program.pdf"
                          target="_blank"
                          class="btn_2 mx-auto"
                          >Visit Site</a
                        >
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="single-feature">
                  <img src="assets/img/r3.png" alt="" />
                  <div class="div">
                    <h3>
                            The Southeast Florida Utility Council (SEFLUC) provides a communications, networking, and support structure for member utilities to continue to provide superior-quality water supply and wastewater management services to its customers in a cost-effective manner.
                    </h3>
                   
                   
                  </div>
                </div>
                <a
                href="https://southeastfloridaclimatecompact.org/"
                target="_blank"
                class="btn_2 mx-auto"
                >Visit Site</a
              >
              </div>
            </div>
        
          </div>
        </div>
      </div>
      </section>