<!-- ================  breadcrumb part start ================  -->
<!-- <section class="breadcrumb breadcrumb_bg" id="home">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="breadcrumb_iner">
                <div class="breadcrumb_iner_item">
                  <h1>Resources</h1>
                  <p>Home<span>/</span>Resources</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="breadcrumb-slantdiv"></div> -->
      <!-- ================ breadcrumb part start ================ -->
       <!-- about part start-->
       <!-- <section class="about_part recreational_part brainstrom">
            <div class="container-fluid">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-5  col-xl-5">
                  <div class="about_text">
                      
                        <h2>Utility of the Future</h2>
                        <h3>
                                RUC facilitates the resources necessary to assist members position their organizations as utilities of the future. The information, frameworks, and partnerships provided by RUC assist utilities in achieving the attributes of NACWA’s Utility of the Future Today program as well as the Effective Utility Management framework, and EPA’s Climate Ready Utilities.
                        </h3>
                    <a href="https://www.wef.org/UtilityoftheFuture"   target="_blank" class="btn_2">learn more</a> 
                  </div>
                </div>
                <div class="col-md-7 col-xl-4">
                  <div class="about_img">
                    <img src="assets/img/brainstrom-1.jfif" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="about_part brainstrom brainstrom-2 mt-n5">
                <div class="container-fluid">
                  <div class="row align-items-center">
                    <div class="col-md-5 offset-xl-1 col-xl-4">
                      <div class="about_img">
                        <img src="assets/img/brainstrom-2.jfif" alt="" />
                      </div>
                    </div>
                    <div class="col-md-7 col-xl-4">
                            <div class="about_text ">
                      
                                    <h2>Effective Utility Management</h2>
                                  <h3>
                                        A coalition of national water sector associations developed and supported an approach for water utility management based on “Ten Attributes of an Effectively Managed Utility” (EUM)

                                        EUM is now the most widely recognized water sector utility management program in the country
                                  </h3>
                                 <a href="#" class="btn_2">read more</a> 
                              </div>
                    </div>
                  </div>
                </div>
              </section> -->
      <!-- ================ all goals section start ================= -->
      <!-- <section class="contact-section section-gap feature-section">
        <div class="container vision-page">
          <div class="col-12">
            <h2 class="big-heading text-center">Why EUM?</h2>
            <p class="text-center">
                    EUM assists in evaluating your utility and setting priorities, protects current infrastructure investments and ensures workforce is motivated and able to address challenges
            </p>
          </div>
          <div class="feature-grid1 mb-5">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <a>
                  <div class="single-feature">
                    <img src="assets/img/award.svg" alt="">
                    <div class="div">
                      <h3>
                            Product quality
                      </h3>
                    </div>
                  </div>
                </a>
                <a> 
                     <div class="single-feature">
                            <img src="assets/img/like.svg" alt="">
                    <div class="div">
                      <h3>
                            Customer satisfaction
                      </h3>
                    </div>
                  </div></a>
              
      <a>
          <div class="single-feature">
                <img src="assets/img/teamwork.svg" alt="">
              <div class="div">
                <h3>
                        Employee / leadership development
                </h3>
              </div>
            </div>
      </a>
     
       
                
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <a>  <div class="single-feature">
                        <img src="assets/img/gear.svg" alt="">
                      <div class="div">
                        <h3>
                                Operational optimization

                            
                                
                        </h3>
                      </div>
                    </div></a>
                <a>  <div class="single-feature">
                        <img src="assets/img/revenue.svg" alt="">
                    <div class="div">
                      <h3>
                            Financial viability
                      </h3>
                    </div>
                  </div></a>
              
                  <a><div class="single-feature">
                        <img src="assets/img/insurance.svg" alt="">
                        <div class="div">
                          <h3>
                                Water resource adequacy
                          </h3>
                        </div>
                      </div></a>
                      <a><div class="single-feature">
                            <img src="assets/img/avatar.svg" alt="">
                            <div class="div">
                              <h3>
                                    Stakeholder understanding and support

                              </h3>
                            </div>
                          </div></a>
                  
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                        <a>
                                <div class="single-feature">
                                        <img src="assets/img/idea.svg" alt="">
                                    <div class="div">
                                      <h3>
                                            Operational resiliency
                    
                    
                                      </h3>
                                    </div>
                                  </div>
                            </a>
                            <a>
                                    <div class="single-feature">
                                            <img src="assets/img/support (1).svg" alt="">
                                        <div class="div">
                                          <h3>
                                                Community stability
                    
                    
                                          </h3>
                                        </div>
                                      </div>
                                </a>
                                <a><div class="single-feature">
                                        <img src="assets/img/factory.svg" alt="">
                                        <div class="div">
                                          <h3>
                                                Infrastructure stability
                                          </h3>
                                        </div>
                                      </div></a>
                       
                         
                        
                      </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- ================ all goals section end ================= -->
      <section class="header_content">
        <h1 class="big_heading">
          Resources
        </h1>
        <div class="header_img"></div>
      </section>

      <section
      class="top_events events"
      >

      <div class="container">
              <h1 class="big_heading ">Top Events</h1>
         
       
        <div class="events_box">
          <div class="row">
            <div class="col-lg-6">
              <div class="event_card">
                <div class="event_img">
                </div>
                <div class="event_details">
                  <p class="event_date">
                    January 25-26, 2018
                  </p>
                  <h2 class="event_name">
                    RUC <br> Summit
                  </h2>
                  <button
                  class="event_btn" data-toggle="modal" data-target="#eventModal"
                  >See More</button
                >
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="event_card">
                <div class="event_img">
                </div>
                <div class="event_details">
                  <p class="event_date">
                    12 August, 2020
                  </p>
                  <h2 class="event_name">
                   OneWater Academy
                  </h2>
                  <button
                  class="event_btn" data-toggle="modal" data-target="#eventModal"
                  >See More</button
                >
                </div>
              </div>
            </div>
          </div>

        </div>

   
      </div>
      </section>


      <section class="past_events events">
        <div class="container">
          <h1 class="big_heading ">Past Events</h1>
          <div class="events_box">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      August 18, 2016
                    </p>
                    <h2 class="event_name">
                      RUC Visioning Workshop
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      June 8 2017
                    </p>
                    <h2 class="event_name">
                      MOCOA Fundraiser	
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      June 8 2017
                    </p>
                    <h2 class="event_name">
                      Tech Talk - Kick-Off	
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      August 24 2017
                    </p>
                    <h2 class="event_name">
                      Tech Talk - J100 on a Budget: Maximizing the Benefits Derived from a J100 RAMCAP Risk Assessment while Managing Costs
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      May 23 2018
                    </p>
                    <h2 class="event_name">
                      Tech Talk - Security Starts Here: Homeland Security Starts with Hometown Security	
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      October 3 2018
                    </p>
                    <h2 class="event_name">
                      Tech Talk - Identifying Risk and Understanding Funding Options	
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      March 7 2019
                    </p>
                    <h2 class="event_name">
                      Tech Talk - Energy Resilience for Utilities	
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      October 17 2019
                    </p>
                    <h2 class="event_name">
                      "NYC Green Stormwater
                      Infrastructure Program:
                      Opportunities and Lessons Learned"	
                                          </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" data-toggle="modal" data-target="#eventModal"
                      >See More</button
                    >
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      
      </section>


      <!-- The Modal -->
<div class="modal" id="eventModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Event Details</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h2 class="text-center">
          RUC Summit
        </h2>
        <h4 class="text-center">
          March 28, 2019
        </h4>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <img src="https://images.pexels.com/photos/2608517/pexels-photo-2608517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="event-img">
          </div>
        </div>
<div class="text-center">
  <a  class="text-white btn_2">
    Download Event Material
  </a>
 
</div>
      
        <div class="event-details">
          <div class="row">
            <div class="col-4">
              <h3>Speakers:</h3>
            </div>
            <div class="col-8">
              <p>
                Matthew Frost, Protective Security Advisor, U.S. Department of Homeland Security	
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <h3>About Event:</h3>
            </div>
            <div class="col-8">
              <p> This presentation focused on the application of the J100 standard, and how to utilize it to direct the design and evaluation of options to reduce risk and enhance resilience, support resource allocation decisions to risk-reduction and resilience-enhancement options, impliment Risk Analysis and Management for Critical Asset Protection (RAMCAP), and ultimately reduce risk and enhance resilience of utilities in a cost-effective manner.		

              </p>
             
            </div>
          </div>
        </div>
       
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn_1" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
       