.header_content {
    .big_heading {
      
      color: #fff;
    }
  }

  .big_heading {
    font-weight: 800;
    color: #160e78;
    position: relative;
    z-index: 10;
    font-size: 3rem;
    letter-spacing: -0.08rem;
  }

  .files{
      border-bottom: 1px solid rgba(34, 34, 34, 0.192);
      background-color: #fff;
      padding:0 1rem 1rem;
      margin: 1rem 0 1rem;
      h2{
        color: #160e78;
        margin: 0 0 1rem;
        font-style: 1.5rem;
      }
      p{
        font-size: 0.8rem;
        color: #111;
        font-weight: 700;
        margin: 0.5rem 0;
        transition: 0.3s all;

        &:hover{
            color: #160e78;
            text-decoration: underline;
        }
      }
      ul{
        list-style: decimal;
        font-weight: 700;
        padding-left: 1.2rem;
      }
  }
.events_box{
    margin: 3rem 0;
}
.speaker{
    color: #160e78;
    font-weight: 700;
    text-decoration: underline;
    margin-right: 2px;
    display: inline-block;
}
.modal-body{
    text-align: left;
}
.event_card{
    margin-bottom: 2rem;
    display: flex;
    position: relative;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    overflow: hidden;
}

.event_img{
    position: absolute;
    top: 0;
    left: 0;
    width:40%;
    height: 100%;

    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}
.event_details{
    margin-left: 40%;
    padding: 1rem;
    width: 100%;
    background-color: #f3f1ff;
}
.event_date{
    color: #160e78;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: -0.01rem;
}
.event_name{
    color: #160e78;
    font-weight: 800;
    font-size:2rem;
    letter-spacing: -0.03rem;
}
.event_btn{
    font-size:1rem;
    background: #160e78;
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.01rem;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0 0.8rem;
    border-radius: 4px;
}

.top_events{
    .event_img{
        img{
            height: 100%;
            width: auto
        }
        
    }
}


.past_events{
    background-color: #f3f1ff;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 8rem;
    margin-bottom: 6rem;
    .event_card{
        display: block;
        border: 1.5px solid #160e78;
    }
    .event_img{
        width: 100%;
        position: relative;
        height: 350px;
        border-bottom: 1.5px solid #160e78;
        overflow: hidden;
    }
    .event_details{
        margin-left: 0;
        background-color: #fff;
    }
    .event_name{
        font-weight: 700;
        font-size:1.3rem;
        letter-spacing: -0.03rem;
    }
    .event_btn{
        margin-right: 1rem;
    }
   .event_date{
       margin-bottom: 0.5rem;
   }
}

@media screen and (max-width:991px){
    .top_events{
        padding-top: 8rem;
    }
    .past_events{
        padding-top: 6rem;
    }
}