
      <section class="header_content">
        <h1 class="big_heading">
          Resources
        </h1>
        <div class="header_img"></div>
      </section>

      <section
      class="top_events events"
      >

      <div class="container">
              <!-- <h1 class="big_heading ">Top Events</h1> -->
         
       
        <div class="events_box">
          <div class="row">
            <div class="col-lg-6" *ngFor="let item of topevents">
              <div class="event_card">
                <div class="event_img">
                </div>
               
                <div class="event_details">
                  <p class="event_date">
                   {{item?.date}}
                  </p>
                  <h2 class="event_name">
                    {{item?.topic}}
                  </h2>
                  <button
                  class="event_btn" (click)="showEvent(item)"
                  >See More</button
                >
                </div>
              </div>
            </div>

           
          </div>

        </div>

   
      </div>
      </section>
      <section class="past_events events">
        <div class="container">
          <h1 class="big_heading ">Past Events</h1>
          <div class="events_box">
            <div class="row">
              <div class="col-lg-4 col-md-6" *ngFor="let item of pastevents">
                <div class="event_card">
                  <div class="event_img">
                  </div>
                  <div class="event_details">
                    <p class="event_date">
                      {{item?.date}}
                    </p>
                    <h2 class="event_name">
                      {{item?.topic}}
                    </h2>
                    <div class="text-right">
                      <button
                      class="event_btn" (click)="showEvent(item)"
                      >See More</button
                    >
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
      
        </div>
      
      </section>


<div class="modal fade" id="eventModal" role="dialog" #eventModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="this.modal.closeModal(eventModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body light-box">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-4">
              <!-- <div class="l-img" *ngIf="currentEvent?.img">
                <img [src]="currentEvent?.img" alt="" >
              </div> -->
              <div>
                <img src="assets/img/event.svg" alt=""  >
              </div>
            </div>
            <div class="col-md-8">
              <div class="details">
                <h1 class="name">{{ currentEvent?.topic }}</h1>
                <div *ngIf="currentEvent?.speakers.length">
                <h2 class="speakers">
                 Speakers
                </h2>
                <span class="speaker" *ngFor="let speaker of currentEvent?.speakers">
                  {{speaker}},
                </span>
              </div>
                <h3 class="org">
                  {{ currentEvent?.date }}
                </h3>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="l-text">
                <h2 class="mt-3 mb-2">About the event:</h2>
                <p>{{currentEvent?.desc}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-4">
          <button
            type="button"
            class="btn btn-default"
            (click)="this.modal.closeModal(eventModal)"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
       