<!-- ================  breadcrumb part start ================  -->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h1>Vision</h1>
            <p>Home<span>/</span>Vision</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="breadcrumb-slantdiv"></div>
<!-- ================ breadcrumb part start ================ -->

<!-- ================ all goals section start ================= -->
<section class="contact-section section-gap">
  <div class="container vision-page">
    <div class="col-12">
      <h2 class="big-heading">Goals to make our vision a reality.</h2>
    </div>
    <div class="feature-grid mb-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <a pageScroll href="#goal1">
            <div class="single-feature">
              <i class="icon-graph"></i>
              <div class="div">
                <h3>
                  Foster Collaboration for Integrated Utility Resilience
                  Planning
                </h3>
              </div>
            </div>
          </a>
          <a pageScroll href="#goal2"> 
               <div class="single-feature">
              <i class="icon-people"></i>
              <div class="div">
                <h3>
                  Foster Communications & Community Partnership
                </h3>
              </div>
            </div></a>
        
<a pageScroll href="#goal3">
    <div class="single-feature">
        <i class="icon-energy"></i>
        <div class="div">
          <h3>
            Advance water and energy conservation, alternatives,
            stewardship, and resource recovery
          </h3>
        </div>
      </div>
</a>
          
          </div>
          <div class="col-xl-6 col-lg-6">
            <a pageScroll href="#goal4">  <div class="single-feature">
                <i class="icon-user-following"></i>
                <div class="div">
                  <h3>
                    Provide Leadership in Measuring & Benchmarking Resilience
                  </h3>
                </div>
              </div></a>
          <a pageScroll href="#goal5">  <div class="single-feature">
              <i class="icon-equalizer"></i>
              <div class="div">
                <h3>
                  Build Awareness and Capacity to Operationalize Resilience
                </h3>
              </div>
            </div></a>
          <a pageScroll href="#goal6"><div class="single-feature">
              <i class="icon-wrench"></i>
              <div class="div">
                <h3>
                  Provide an Action-based and High Value Membership Structure
                </h3>
              </div>
            </div></a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ all goals section end ================= -->

<!--single goal heading-->
<section class="about_part recreational_part section-gap" id="goal1">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-xl-9">
        <div class="about_text">
          <h4>Goal #1</h4>
          <h2>
            Foster Collaboration for Integrated Utility Resilience Planning
          </h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-2">
        <div class="about_img">
          <span class="serial">#1</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--about goal-->
<section class="about_part recreational_part brainstrom left-bg">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 offset-xl-1 col-xl-4">
        <div class="about_text">
          <h2>
            The actions in this goal area will further the following objectives
            to advance:
          </h2>

          <h3>
            <span class="ti-control-forward"></span>
            One water governance approach
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Modernize management approach
          </h3>
          <!-- <a href="#" class="btn_2">read more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--Goal progress-->
<section>
  <div class="container-fluid blue-bg">
    <div class="container">
      <h2 class="mb-3"><strong> Actions:</strong></h2>
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">1</div>
        </div>
        <div class="col-6">
          <h5>Action #1</h5>
          <p>
            Hold a yearly retreat to take stock of year, inventory actions,
            celebrate successes, assess resources and needs, and reset or
            prioritize actions for the coming year
          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #2</h5>
          <p>
            Leverage all partnerships including US DOE, EPA, Water Resource
            Foundation, SEFLUC, 100RC, the Southeast Florida Regional Climate
            Change Compact, the City Water Resilience Framework, the Urban Water
            Innovation Network and others to advance RUC actions and goals and
            link resources for members
          </p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">3</div>
        </div>
        <div class="col-6">
          <h5>Action #3</h5>
          <p>
            Estimate administrative support needs for RUC Board, strategic
            planning efforts, events and gaps in planning and execution not
            covered by members
          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #4</h5>
          <p>
            Identify action items for integrated planning aligned with vision,
            mission, and goals
          </p>
        </div>
        <div class="col-2 text-center top top2">
          <div class="circle">4</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--single goal heading-->
<section class="about_part recreational_part section-gap" id="goal2">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-xl-9">
        <div class="about_text">
          <h4>Goal #2</h4>
          <h2>
            Foster Communications & Community Partnership
          </h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-2">
        <div class="about_img">
          <span class="serial">#2</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--about goal-->
<section class="about_part recreational_part brainstrom left-bg">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 offset-xl-1 col-xl-4">
        <div class="about_text">
          <h2>
            The actions in this goal area will further the following objectives:
          </h2>

          <h3>
            <span class="ti-control-forward"></span>
            Raise water sector profile
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Provide opportunities for sharing best practices
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Increase networking and collaboration across water management
            sectors
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Develop common goals and messages across utilities
          </h3>
          <!-- <a href="#" class="btn_2">read more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--Goal progress-->
<section>
  <div class="container-fluid blue-bg">
    <div class="container">
      <h2 class="mb-3"><strong> Actions:</strong></h2>
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">1</div>
        </div>
        <div class="col-6">
          <h5>Action #1</h5>
          <p>
            Coordinate participation in annual Climate Leadership Summit and
            other signature events
          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #2</h5>
          <p>Hold a RUC Summit every 2 Years</p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">3</div>
        </div>
        <div class="col-6">
          <h5>Action #3</h5>
          <p>
            Create content & maintain website (in the short-term address
            hosting, remove outdated pages, and crate wire frame; in the
            longer-term identify resource for maintenance)
          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>

      <!--path between 2-3-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #4</h5>
          <p>Hold a RUC Summit every 2 Years</p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">4</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">5</div>
        </div>
        <div class="col-6">
          <h5>Action #5</h5>
          <p>Prepare annual RUC year in review</p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #6</h5>
          <p>
            Develop an annual communications strategy for diverse audiences with
            targeted messages (goal is to promote vision and mission)
          </p>
        </div>
        <div class="col-2 text-center top top2">
          <div class="circle">6</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--single goal heading-->
<section class="about_part recreational_part section-gap " id="goal3">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-xl-9">
        <div class="about_text">
          <h4>Goal #3</h4>
          <h2>
            Advance the adoption of water and energy conservation, alternatives,
            stewardship, anc resource recovery initiatives
          </h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-2">
        <div class="about_img">
          <span class="serial">#3</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--about goal-->
<section class="about_part recreational_part brainstrom left-bg">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 offset-xl-1 col-xl-6">
        <div class="about_text">
          <h2>
            The actions in this goal area further the adoption of:
          </h2>

          <h3>
            <span class="ti-control-forward"></span>
            Utility of the Future and Efficient Utility Manager strategies,
            Combined heat and power initiatives
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            On-site power generation & Energy reduction in processes
          </h3>

          <h3>
            <span class="ti-control-forward"></span>
            Biosolids best practices, Solar and other renewals
          </h3>

          <h3>
            <span class="ti-control-forward"></span>
            Onsite non-potable wal reuse (Ormatpx, gray water, and other
            practicled)
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Protect and enhance quality in our natural systems
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Raise public awareness the health and value of natural resources
          </h3>
          <!-- <a href="#" class="btn_2">read more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--Goal progress-->
<section>
  <div class="container-fluid blue-bg">
    <div class="container">
      <h2 class="mb-3"><strong> Actions:</strong></h2>
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">1</div>
        </div>
        <div class="col-6">
          <h5>Action #1</h5>
          <p>Advance the performance of energy audits</p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #2</h5>
          <p>
            Work with all stakeholders to promote water quality in Biscayne Bay
            and all natural systems
          </p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top top3">
          <div class="circle">3</div>
        </div>
        <div class="col-6">
          <h5>Action #3</h5>
          <p>Identify 3 ways to improve/promote the topics in this area</p>
        </div>
      </div>
      <!--path between 1-2-->
    </div>
  </div>
</section>

<!--single goal heading-->
<section class="about_part recreational_part section-gap " id="goal4">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-xl-9">
        <div class="about_text">
          <h4>Goal #4</h4>
          <h2>
            Provide leadership in measuring & benchmarking resilience
          </h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-2">
        <div class="about_img">
          <span class="serial">#4</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--about goal-->
<section class="about_part recreational_part brainstrom left-bg">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 offset-xl-1 col-xl-6">
        <div class="about_text">
          <h2>
            The actions in this goal area will further the objective to advance:
          </h2>

          <h3>
            <span class="ti-control-forward"></span>
            Identifying trends Performing benchmarking
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Enabling innovation & Identifying funding alternatives
          </h3>

          <h3>
            <span class="ti-control-forward"></span>
            Performing modeling and research & Defining sustainability budgets
          </h3>

          <h3>
            <span class="ti-control-forward"></span>
            Establishing Regional Resilience Scorecards and Dashboards
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Adoption of Assets Management Risk-based Approach
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Securing grants and Alternative Funding
          </h3>
          <!-- <a href="#" class="btn_2">read more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--Goal progress-->
<section>
  <div class="container-fluid blue-bg">
    <div class="container">
      <h2 class="mb-3"><strong> Actions:</strong></h2>
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">1</div>
        </div>
        <div class="col-6">
          <h5>Action #1</h5>
          <p>
            Charge the Innovation Committee with prioritizing the 3 most
            important topics that will assist utilities in becoming resilient
            for years 1-5 of the first plan
          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #2</h5>
          <p>
            Developing the top 3 actions related to the various topics in this
            goal area
          </p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top top3">
          <div class="circle">3</div>
        </div>
        <div class="col-6">
          <h5>Action #3</h5>
          <p>
            Challenge committee with identifying top 3 ways to streamline
            technology and product approval across utility jurisdictions
          </p>
        </div>
      </div>
      <!--path between 1-2-->
    </div>
  </div>
</section>

<!--single goal heading-->
<section class="about_part recreational_part section-gap " id="goal5">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-xl-9">
        <div class="about_text">
          <h4>Goal #5</h4>
          <h2>
            Build awareness and capacity to operationalize resilience
          </h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-2">
        <div class="about_img">
          <span class="serial">#5</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--about goal-->
<section class="about_part recreational_part brainstrom left-bg">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 offset-xl-1 col-xl-4">
        <div class="about_text">
          <h2>
            The actions in this goal area will further the adoption of:
          </h2>

          <h3>
            <span class="ti-control-forward"></span>
            Procurement - Emergency preparedness Design Standards
          </h3>
          <h3>
            <span class="ti-control-forward"></span>
            Cybersecurity Awareness, culture
          </h3>

          <!-- <a href="#" class="btn_2">read more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--Goal progress-->
<section>
  <div class="container-fluid blue-bg">
    <div class="container">
      <h2 class="mb-3"><strong> Actions:</strong></h2>
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">1</div>
        </div>
        <div class="col-6">
          <h5>Action #1</h5>
          <p>Provide 5 RUC Tech Talks per year</p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #2</h5>
          <p>
            Create event feedback survey (gauge satisfaction and ask for topic
            ideas)
          </p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">3</div>
        </div>
        <div class="col-6">
          <h5>Action #3</h5>
          <p>
            Develop training opportunities and or curriculum on the topics in
            this goal area
          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #4</h5>
          <p>
            Link members to existing tools and organizations to perform
            vulnerability assessments and adaptation planning
          </p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">4</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">5</div>
        </div>
        <div class="col-6">
          <h5>Action #5</h5>
          <p>Create RUC Toolbox of vulnerability assessment and other tools</p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>

      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #6</h5>
          <p>
            Develop a RUC-proper vulnerability assessment tool (possibly
            achieved through City Water Resilience Assessment Tool)
          </p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">6</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top top3">
          <div class="circle">7</div>
        </div>
        <div class="col-6">
          <h5>Action #7</h5>
          <p>Develop Utility Resilience Certification Program (seal)</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--single goal heading-->
<section class="about_part recreational_part section-gap " id="goal6">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-xl-9">
        <div class="about_text">
          <h4>Goal #6</h4>
          <h2>
            Provide an action-based and high value membership structure
          </h2>
        </div>
      </div>
      <div class="col-md-6 col-xl-2">
        <div class="about_img">
          <span class="serial">#6</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Goal progress-->
<section>
  <div class="container-fluid blue-bg">
    <div class="container">
      <h2 class="mb-3"><strong> Actions:</strong></h2>
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle">1</div>
        </div>
        <div class="col-6">
          <h5>Action #1</h5>
          <p>
            Challenge Membership Committee to propose membership structure,
            fees, RUC budget and reserve goal
          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #2</h5>
          <p>Create membership applications</p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle">3</div>
        </div>
        <div class="col-6">
          <h5>Action #3</h5>
          <p>
            Create RUC Ambassadors Program for peer to peer exchanges that share
            experience and expertise
          </p>
        </div>
      </div>
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right">
          <h5>Action #4</h5>
          <p>
            Define membership toolbox components, survey utilities for best
            practices (i.e. ordinances, SOP's, etc.)
          </p>
        </div>
        <div class="col-2 text-center full">
          <div class="circle">4</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top top3">
          <div class="circle">5</div>
        </div>
        <div class="col-6">
          <h5>Action #5</h5>
          <p>Increase membership within 4- county region</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="padding: 70px;"></div>