  <!-- ================  breadcrumb part start ================  -->
  <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h1>Join Us</h1>
                            <p>Home<span>/</span>Join Us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <div class="breadcrumb-slantdiv"></div>
    <!-- ================ breadcrumb part start ================ -->
  
    <!-- ================ contact section start ================= -->
    <section class="about_part recreational_part mb-n0">
            <div class="container-fluid">
              <div class="row align-items-center justify-content-center">
                <div class="col-md-6 col-xl-9">
                  <div class="about_text">
                    <h4>Join Us</h4>
                    <h2>We invite you to join the Resilient Utility Coalition!</h2>
                  </div>
                </div>
                <div class="col-md-6 col-xl-2">
                  <div class="about_img">
                    <img src="assets/img/pattern.svg" class="w-50" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class=" title-section m-0 mt-n5">
                <div class="section_tittle text-center container ">
                    <p>
                            The Resilient Utility Coalition seeks to advance utility infrastructure resiliency efforts in South Florida and provide essential value to its members and partners.
                    </p>
                        <p>The Resilient Utility Coalition provides leadership helping utility operations address the  potential effects of climate change. We seek to enhance the usefulness of climate science by developing adaptation strategies and improving water management decision-making in the face of climate uncertainty.</p>
                      </div>
                    </section>
    <section class="contact-section">
          
           
      <div class="container">
            
        <div class="row justify-content-center">
                <h2 class="contact-title mb-4 mt-4">Be a part of Resilient Utility Coalition</h2>
          <!-- <div class="col-12">
            <h2 class="contact-title">Get in Touch</h2>
          </div> -->
          <div class="col-lg-8">
            <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
              <div class="row justify-content-center">
                    <div class="col-sm-6">
                            <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder = 'Enter your name'>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder = 'Enter email address'>
                            </div>
                          </div>
                          <div class="col-12">
                                <div class="form-group">
                                  <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder = 'Enter Subject'>
                                </div>
                              </div>
                <div class="col-12">
                  <div class="form-group">
                    
                      <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>
                  </div>
                </div>


             
              
              </div>
              <div class="form-group mt-3 text-center">
                <button type="submit" class="button button-contactForm">Submit </button>
              </div>
            </form>
          </div>
        
        </div>
      </div>
    </section>
    <!-- ================ contact section end ================= -->